body {
    background-image: url(Where\'s\ Waldo\ Hard.webp);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

input {
    top: 84%;
    left: 16%;
    width:20px;
    height:20px;
    position: absolute;
    background: orange; 

}


#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #000000;
  border: 1px solid #000000;
  text-align: center;
  color: white;
  font-size: large;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}