body {
  background-image: url(\(0\)\ Assets/WaldoSniper.jpg); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: 100% 100%;
  
}




a:link {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    border-radius: 0px;
    transition: border-radius 0.3s;    
    text-shadow: 5px 5px rgba(255, 0, 0, 0.500);


}


a:visited {
    color: rgba(255, 255, 255);
    background-color: black;
    text-decoration: none;
    text-shadow: 10px 10px black;
    transition: border-radius 0.3s;    

  }

  a:hover {
    color: rgb(255, 0, 0);
    background-color: white;
    text-decoration: none;
    border-width: 3px;
    border-radius: 50px;
    transition: border-radius 0.3s;    
    text-shadow: 5px 5px rgba(255, 0, 0, 0);
    transition: text-shadow 0.3s;
    transition: background-color 0.5s;    
   


  }

  p {
    font-size: 100px;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


  }
  

  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #ff1b1b, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #ff0000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff1b1b, 0 0 40px #ff1b1b, 0 0 50px #ff1b1b, 0 0 60px #ff1b1b, 0 0 70px #ff1b1b, 0 0 80px #ff0000;
    }
  }
  


  a {
    font-size: 50px;
    letter-spacing: 3px;
  }

  h3 {
    font-size: large;
  }


  